# 忽略视频文件（避免把巨大的监控视频传到 GitHub 导致仓库爆满）
*.mp4
*.avi
*.mov
*.mkv
*.spec
*.exe
# 忽略输出的图片文件夹
outputs/
forward/
backward/

# 打包exe后的文件夹
dist/
build/
tcl_tk_libs/

# Python 缓存和虚拟环境
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/

# IDE 配置文件
.vscode/
.idea/
*.swp
*.suo
